<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-if="num > 0.5">随机数大于0.5</div>
        <div v-else>随机数小于或等于0.5</div>

        <div v-if="type === 'A'">优秀</div>
        <div v-else-if="type === 'B'">良好</div>
        <div v-else-if="type === 'C'">及格</div>
        <div v-else>有待提高</div>
    </div>
        <script src="./lib/vue.js"></script>
        <script>
            const vm = new Vue({
            el:'#app',
            data:{
                num:Math.random(),
                type: 'A',
            },
        })
        </script>
</body>
</html>