<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in list">姓名是：{{item.name}}</li>
            <li v-for="(item, index) in list">
                <p>编号是：{{index+1}}</p>
                <p>姓名是：{{item.name}}</p>
            </li>
        </ul>
    </div>
        <script src="./lib/vue.js"></script>
        <script>
            const vm = new Vue({
            el:'#app',
            data:{
                list:[
                    {id:1, name:'martin'},
                    {id:2, name:'rachel'},
                ]
            },
        })
        </script>
</body>
</html>